{% load static %}
<div class="card formcard gradient-l2 text-white">
    <div class="card-header">
        Vos invitations
        <hr class="hr-white">
    </div>
    <div class="card-body">
        <div id="groupInvitationList">
            {% for invitation in invitations %}
                <div class="rounded-corner-container bg-wt small-padding-container mb-2"
                     data-invitation-slug="{{ invitation.slug }}">
                    <div class="d-flex flex-row align-items-right">
                        <div class="flex-column w-100">
                            {% if invitation.user %}
                                <div class="ps-1"><strong>Invitation
                                    à {{ invitation.user.first_name }} {{ invitation.user.last_name }} pour rejoindre le
                                    groupe {{ invitation.group.name }}</strong></div>
                            {% else %}
                                <div class="ps-1"><strong>Invitation générale pour rejoindre le
                                    groupe {{ invitation.group.name }}</strong></div>
                            {% endif %}
                            <span class="ps-1 pt-0 text-left">{{ invitation.slug }}</span>

                            <div class="d-flex">
                                <small class="ps-1 pt-0">{{ invitation.date }}</small>
                                <button class="ms-auto icon-btn text-danger d-inline del-invitation-btn" type="button"
                                        data-invitation-slug="{{ invitation.slug }}"><i
                                        class="fas fa-trash-alt text-medium"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="empty text-white">
                    Vous n'avez pas envoyé d'invitation...
                </div>
            {% endfor %}
        </div>
    </div>
</div>
