{% load static %}

<div class="profile-infos">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" class="profile-pp" alt="Photo de profil" width="100" />
    {% else %}
        <img class="profile-pp" src="{% static 'koolapic/images/default_profile_picture.png' %}" alt="Votre photo de profil" width="100" />
    {% endif %}
    <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <h3 class="profile-role">
        {% if profile.email == "jacques@hirtzel.ch" or profile.email == "jacques.hirtzel@ceff.ch" %}
            <i class="fas fa-coffee"></i> Administrateur
        {% elif profile.is_superuser %}
            <i class="fas fa-desktop"></i> Administrateur
        {% endif %}
    </h3>
    <hr class="hr-white">
    <div class="bg-wt medium-padding-container rounded">
        <h2>Informations</h2>
        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-envelope"></i> Adresse e-mail</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.email }}</div>
        </div>

        {% if profile.bio %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-book"></i> Bio</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.bio|safe }}</div>
            </div>
        {% endif %}
        {% if profile.tel_mobile %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-user"></i> Téléphone personnel</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_mobile }}</div>
            </div>
        {% endif %}
        {% if profile.tel_home %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-home"></i> E.T. Téléphone maison</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_home }}</div>
            </div>
        {% endif %}
        {% if profile.tel_pro %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-user-tie"></i> Téléphone professionnel</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_pro }}</div>
            </div>
        {% endif %}
        {% if profile.locality or profile.address or profile.npa %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-map-marker-alt"></i> Adresse</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{% if profile.npa %}{{ profile.npa }}{% endif %}
                    {% if profile.locality %}{{ profile.locality }}{% endif %}</div>
            </div>
            {% if profile.address %}
                <div class="profile-info row">
                    <div class="col">{{ profile.address }}</div>
                </div>
            {% endif %}
        {% endif %}
        <hr class="hr-white">
        <h2>Informations avancées</h2>
        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-user-plus"></i> Compte créé le</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.date_joined }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-sign-in-alt"></i> Dernière connexion</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.last_login }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-heart"></i> Dernier don</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.donation_date }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-hashtag"></i> Slug</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.slug }}</div>
        </div>
    </div>
    <div class="row profile-action-buttons mx-0">
        <a class="btn w-100 btn-outline-light p-2 mb-2 text-center"
           href="{% url 'account:edit_profile' slug=profile.slug %}">
            <i class="fas fa-edit"></i> Modifier votre profil
        </a>
        <a class="btn w-100 btn-outline-light p-2" href="?view_as=guest">
            <i class="far fa-eye"></i> Vue invité
        </a>
    </div>
</div>
