<div class="profile-infos">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" class="profile-pp" alt="Photo de profil" width="100"/>
    {% endif %}
    <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <h3 class="profile-role">
        {% if profile.email == "jacques@hirtzel.ch" or profile.email == "jacques.hirtzel@ceff.ch" %}
            <i class="fas fa-coffee"></i> Administrateur
        {% elif profile.is_superuser %}
            <i class="fas fa-desktop"></i> Administrateur
        {% endif %}
    </h3>
    <hr class="hr-white">
    <div class="bg-wt medium-padding-container rounded-corner-container">
        <h2>Informations</h2>
        <div class="profile-info-label row">
            <div class="col"><strong><i class="fas fa-envelope"></i> Adresse e-mail</strong></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.email }}</div>
        </div>

        {% if profile.bio %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-book"></i> Bio</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.bio|safe }}</div>
            </div>
        {% endif %}
        {% if profile.tel_mobile %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-user"></i> Téléphone personnel</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_mobile }}</div>
            </div>
        {% endif %}
        {% if profile.tel_home %}
            <div class="profile-info-label row">
                <div class="col"><i class="fas fa-home"></i> E.T. Téléphone maison</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_home }}</div>
            </div>
        {% endif %}
        {% if profile.tel_pro %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-user-tie"></i> Téléphone professionnel</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_pro }}</div>
            </div>
        {% endif %}
        {% if profile.locality or profile.address or profile.npa %}
            <div class="profile-info-label row">
                <div class="col"><strong><i class="fas fa-map-marker-alt"></i> Adresse</strong></div>
            </div>
            <div class="profile-info row">
                <div class="col">{% if profile.npa %}{{ profile.npa }}{% endif %}
                    {% if profile.locality %}{{ profile.locality }}{% endif %}</div>
            </div>
            {% if profile.address %}
                <div class="profile-info row">
                    <div class="col">{{ profile.address }}</div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% if profile.id == user.id %}
    <div class="row profile-action-buttons">
        <a class="btn btn-lg btn-outline-light p-2 profile-action-button"
           href="{% url 'account:profile' slug=profile.slug %}">
            <i class="fas fa-chevron-left"></i> Quitter la vue invité
        </a>
    </div>
{% endif %}