{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'koolapic/js/profile.js' %}" type="module"></script>
{% endblock %}

{% block content %}
    {% if profile.id == user.id and view_as == "self" %}
        <!-- Mobile -->
        <div class="nav nav-tabs w-100 mr-2 d-lg-none" id="hPillstab" aria-orientation="horizontal" role="tablist">
            <a class="nav-item nav-link active" id="profileTab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                Profil
            </a>
            <a class="nav-item nav-link ml-2" id="invitationsTab" data-toggle="tab" href="#invitations" role="tab" aria-controls="invitations">
                Invitations
            </a>
            <a class="nav-item nav-link ml-2 text-danger" id="disconnectTab" data-toggle="tab" href="#disconnect" role="tab" aria-controls="disconnect">
                Se déconnecter
            </a>
        </div>
        <div class="d-flex">
            <!-- Desktop -->
            <div class="nav flex-column nav-pills w-25 mr-2 d-none d-lg-flex" id="vPillstab" aria-orientation="vertical" role="tablist">
                <a class="pill-p active" id="profileTab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                    Profil
                </a>
                <a class="pill-p" id="invitationsTab" data-toggle="pill" href="#invitations" role="tab" aria-controls="invitations">
                    Invitations
                </a>
                <a class="pill-danger" id="disconnectTab" data-toggle="pill" href="#disconnect" role="tab" aria-controls="disconnect">
                    Se déconnecter
                </a>
            </div>

            <!-- Contenu -->
            <div class="gradient-l2 responsive-padding-container rounded-corner-container w-100 text-white">
                <div class="tab-content w-100 justify-content-center" id="tabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profileTab">
                        {% include 'account/profile/includes/profile_private_view.html' %}
                    </div>
                    <div class="tab-pane fade show" id="disconnect" role="tabpanel" aria-labelledby="disconnectTab">
                        {% include 'account/includes/logout_include.html' %}
                    </div>
                    <div class="tab-pane fade show" id="invitations" role="tabpanel" aria-labelledby="disconnectTab">
                        {% include 'account/profile/includes/invitations_include.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% elif profile.id != user.id or view_as == "guest" %}
        <div class="gradient-l2 responsive-padding-container rounded-corner-container w-100 text-white">
            {% include 'account/profile/includes/profile_public_view.html' %}
        </div>
    {% endif %}
{% endblock content %}