<div class="profile-infos">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" class="profile-pp" alt="Photo de profil" width="100"/>
    {% endif %}
    <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <h2 class="profile-username">{{ profile.username }}</h2>
    <h3 class="profile-role">
        {% if profile.email == "adrienmatthieu.rossier@ceff.ch" %}
            <i class="fas fa-bed"></i> Dormeur
        {% elif profile.email == "jacques@hirtzel.ch" or profile.email == "jacques.hirtzel@ceff.ch" %}
            <i class="fas fa-coffee"></i> Administrateur
        {% elif profile.is_superuser %}
            <i class="fas fa-desktop"></i> Administrateur
        {% endif %}
    </h3>
    <hr class="hr-white">
    <div class="bg-wt medium-padding-container rounded-corner-container">
        <h2>Informations</h2>
        <div class="profile-info-label row">
            <div class="col"><b><i class="fas fa-envelope"></i> Adresse e-mail</b></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.email }}</div>
        </div>

        {% if profile.bio %}
            <div class="profile-info-label row">
                <div class="col"><b><i class="fas fa-book"></i> Bio</b></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.bio|safe }}</div>
            </div>
        {% endif %}
        {% if profile.tel_m %}
            <div class="profile-info-label row">
                <div class="col"><b><i class="fas fa-user"></i> Téléphone personnel</b></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_m }}</div>
            </div>
        {% endif %}
        {% if profile.tel_p %}
            <div class="profile-info-label row">
                <div class="col"><b><i class="fas fa-user-tie"></i> Téléphone professionnel</b></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.tel_p }}</div>
            </div>
        {% endif %}
        {% if profile.locality or profile.address or profile.npa %}
            <div class="profile-info-label row">
                <div class="col"><b><i class="fas fa-map-marker-alt"></i> Adresse</b></div>
            </div>
            <div class="profile-info row">
                <div class="col">{% if profile.npa %}{{ profile.npa }}{% endif %} {% if profile.locality %}{{ profile.locality }}{% endif %}</div>
            </div>
            {% if profile.address %}
                <div class="profile-info row">
                    <div class="col">{{ profile.address }}</div>
                </div>
            {% endif %}
        {% endif %}
        <hr class="hr-white">
        <h2>Informations avancées</h2>
        <div class="profile-info-label row">
            <div class="col"><b><i class="fas fa-user-plus"></i> Compte créé le</b></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.date_joined }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><b><i class="fas fa-sign-in-alt"></i> Dernière connexion</b></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.last_login }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><b><i class="fas fa-heart"></i> Dernier don</b></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.donation_date }}</div>
        </div>

        <div class="profile-info-label row">
            <div class="col"><b><i class="fas fa-hashtag"></i> Slug</b></div>
        </div>
        <div class="profile-info row">
            <div class="col">{{ profile.slug }}</div>
        </div>
    </div>
</div>
<div class="row profile-action-buttons small-padding-container">
    <a class="btn w-100 btn-outline-light p-2 mb-2 text-center" href="{% url 'accounts:edit_profile' slug=profile.slug %}">
        <i class="fas fa-edit"></i> Modifier votre profil
    </a>
    <form action="{% url 'accounts:profile' slug=profile.slug %}" method="get" id="profileForm">
        <input type="hidden" name="view_as" value="guest">
    </form>
    <button type="submit" form="profileForm" class="btn w-100 btn-outline-light p-2 text-center" href="{% url 'accounts:profile' slug=profile.slug %}">
        <i class="far fa-eye"></i> Vue invité
    </button>
</div>