<div class="profile-infos">
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic.url }}" class="profile-pp" alt="Photo de profil" width="100"/>
    {% endif %}
    <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
    <h2 class="profile-username">{{ profile.username }}</h2>
    <h3 class="profile-role">
        {% if profile.email == "jacques@hirtzel.ch" or profile.email == "jacques.hirtzel@ceff.ch" %}
            <i class="fas fa-coffee"></i> Administrateur
        {% elif profile.is_superuser %}
            <i class="fas fa-desktop"></i> Administrateur
        {% endif %}
    </h3>
    <hr class="hr-white">
    <div class="bg-wt medium-padding-container rounded-corner-container">
        <h2>Informations</h2>
        {% if profile.bio %}
            <div class="profile-info-label row">
                <div class="col"><b><i class="fas fa-book"></i> Bio</b></div>
            </div>
            <div class="profile-info row">
                <div class="col">{{ profile.bio|safe }}</div>
            </div>
        {% endif %}
    </div>
</div>
{% if profile.id == user.id %}
    <div class="row profile-action-buttons">
        <a class="btn btn-lg btn-outline-light p-2 profile-action-button" href="{% url 'accounts:profile' slug=profile.slug %}">
            <i class="fas fa-chevron-left"></i> Quitter la vue invité
        </a>
    </div>
{% endif %}