{% if user_p.profile_pic %}
    <a class="tooltip-btn" href="{% url 'accounts:profile' slug=user_p.slug %}" data-template="tooltip{{ user_p.slug }}">
        <img class="profile-picture" src="{{ user_p.profile_pic.url }}" alt="Votre photo de profil">
    </a>
{% else %}
    <a class="tooltip-btn" href="{% url 'accounts:profile' slug=user_p.slug %}" title="Profil" data-template="tooltip{{ user_p.slug }}">
        <i class="profile-picture fas fa-user-circle"></i>
    </a>
{% endif %}
<div class="tooltip" id="tooltip{{ user_p.slug }}">
    <strong>{{ user_p.first_name }} {{ user_p.last_name }}</strong>
</div>
<!-- TODO tooltips -->