{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'koolapic/js/activities.js' %}" crossorigin="anonymous" type="module"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <h1>Liste des activités</h1>
        </div>
    </div>
    {% include 'koolapic/activities/includes/upcoming_activity_list.html' %}
    <br>
    {% include 'koolapic/activities/includes/past_activity_list.html' %}
{% endblock content %}