{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <h1>Liste des activités</h1>
        </div>
        <div class="col-md-1">
            <h1>
                <a class="btn btn-primary" title="Créer une activité" href="{% url 'koolapic:add_activity' %}" role="button">
                    <i class="fas fa-plus"></i>
                </a>
            </h1>
        </div>
    </div>
    <br>
    <div class="container">
        {% for activity in object_list %}
            <div style="border: 2px solid black; padding: 5px" class="row rounded">
                <div class="col-md-10" style="padding-top: 5px">
                    <h4>{{ activity.description }}</h4>
                </div>
                <div class="col-md-2 text-right">
                    <a class="btn btn-primary" title="Modifier l'activité" href="{{ activity.get_update_url }}" role="button">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="btn btn-primary" title="Afficher les détails de l'activité" href="{{ activity.get_detail_url }}" role="button">
                        <i class="fas fa-align-justify"></i>
                    </a>
                    <a class="btn btn-danger delete-modal" title="Supprimer l'activité" href="{{ activity.get_confirm_delete_url }}" role="button">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock content %}