{% extends 'base.html' %}
{% load static widget_tweaks extras %}

{% block head %}
    <script src="{% static 'koolapic/js/tabs.js' %}"></script>
    <script src="{% static 'koolapic/js/activities.js' %}" crossorigin="anonymous" type="module"></script>
{% endblock %}

{% block content %}
    {% if user in activity.group.members.all %}
        <div class="activity-header gradient-l2 small-padding-container rounded text-white">
            <div class="activity-panel clearfix mb-2">
                <h2 class="d-inline-block">{{ activity.name }}</h2>
                <div class="float-end">
                    <a class="text-reset" title="Dupliquer l'activité" href="{{ activity.get_clone_url }}">
                        <i class="far fa-clone"></i> Dupliquer l'activité
                    </a>
                </div>
                <h6>Créée par {{ activity.creator }}</h6>
                {% if activity.max_participants %}
                    {% if get_total_participants_count > 0 %}
                        <div class="progress bg-wt">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 style="width: {{ get_percentage }}%;"
                                 aria-valuenow="{{ get_total_participants_count }}" aria-valuemin="0"
                                 aria-valuemax="{{ activity.max_participants }}">
                            {{ get_total_participants_count }} / {{ activity.max_participants }} participant{{ get_total_participants_count|pluralize:'s' }}
                            </div>
                        </div>
                    {% else %}
                        Aucun participant
                    {% endif %}
                {% else %}
                    {% if get_total_participants_count > 0 %}
                        {{ get_total_participants_count }} participant{{ get_total_participants_count|pluralize:'s' }}
                    {% else %}
                        Aucun participant
                    {% endif %}
                {% endif %}

                {% if user in participants %}
                    <button id="desinscriptionButton" type="button" class="btn btn-secondary"
                            onclick="desinscription();">
                        Quitter
                    </button>
                {% endif %}
            </div>
            <ul class="nav nav-tabs group-nav">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" id="aboutTab" href="#about" role="tab"
                       data-controls="about" aria-controls="about">Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" id="inscriptionsTab" href="#inscriptions" role="tab"
                       data-controls="inscriptions" aria-controls="inscriptions">Inscriptions</a>
                </li>
                {% if user.id == activity.creator_id %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="managementTab" href="#management" role="tab"
                           data-controls="management" aria-controls="management">Gestion</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="about" role="tabpanel" aria-labelledby="aboutTab">
                    <div class="text-large">
                        {% if activity.description %}
                            <div class="row mt-2">
                                <h6><strong>Description</strong></h6>
                            </div>
                            <div class="row">
                                <div class="col">{{ activity.description }}</div>
                            </div>
                        {% endif %}

                        {% if activity.remarks %}
                            <div class="row mt-2">
                                <div class="col"><strong>Remarques</strong></div>
                            </div>
                            <div class="row">
                                <div class="col">{{ activity.remarks }}</div>
                            </div>
                        {% endif %}

                        <hr class="hr-white">

                        <h6><strong>Début de l'activité</strong></h6>
                        <div class="row">
                            <div class="col">
                                <i class="far fa-calendar-alt"></i>
                                {% weekday activity.start_date.date %} {{ activity.start_date.date }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="far fa-clock"></i>
                                {{ activity.start_date.time|date:'H:i' }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fas fa-map-marked-alt"></i>
                                {{ activity.start_location }}
                            </div>
                        </div>

                        {% if activity.end_date %}
                            <hr class="hr-white">

                            <h6><strong>Fin de l'activité</strong></h6>
                            {% if activity.end_date %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                    <div class="col">
                                        {% weekday activity.end_date.date %} {{ activity.end_date.date }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="col">
                                        {% hour activity.end_date.time %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if activity.end_location %}
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <div class="col">
                                        {{ activity.end_location }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <hr class="hr-white">

                        <p class="text-small mb-0">Dernière mise à jour</p>
                        <div class="text-small">
                            <strong>{% weekday activity.last_update %} {{ activity.last_update.date }}
                                à {{ activity.last_update|time:"H:i" }}</strong></div>
                    </div>
                </div>
                <div class="tab-pane" id="inscriptions" role="tabpanel" aria-labelledby="inscriptionsTab">
                    <div class="mt-2" id="inscription-table">
                        <h6><strong>Inscriptions</strong></h6>

                        <div class="row row-cols-3 me-0">
                            {% if user in activity.participants.all or user == activity.creator %}
                                {% for inscription in inscriptions %}
                                    <div class="col pe-0">
                                        <div class="rounded group-member-row mb-2 bg-{% if inscription.presence %}success{% else %}danger{% endif %}">
                                            <div class="p-2">
                                                {% if inscription.user.profile_pic %}
                                                    <a class="tooltip-btn" href="{% url 'account:profile' slug=inscription.user.slug %}"
                                                    data-template="tooltip-{{ inscription.user.slug }}">
                                                        <img class="profile-picture" src="{{ inscription.user.profile_pic.url }}" alt="Votre photo de profil"/>
                                                    </a>
                                                {% else %}
                                                    <a class="tooltip-btn" href="{% url 'account:profile' slug=inscription.user.slug %}" title="Profil"
                                                    data-template="tooltip-{{ inscription.user.slug }}">
                                                        <img class="profile-picture" src="{% static 'koolapic/images/default_profile_picture.png' %}"
                                                            alt="Votre photo de profil"/>
                                                    </a>
                                                {% endif %}

                                                <div class="tooltip" id="tooltip-{{ inscription.user.slug }}">
                                                    <strong>{{ inscription.user }}</strong>
                                                </div>
                                            </div>
                                            <div class="flex-column group-member-name-col">
                                                {% if user == inscription.user %}
                                                    <a type="button"
                                                        class="btn btn-{% if inscription.presence %}success{% else %}danger{% endif %} text-start d-block js-update-inscription"
                                                        data-url="{% url 'koolapic:activity_inscription_ajax' inscription.slug %}">
                                                        <div class="ps-1 text-dark"><strong>{{ inscription.user }}</strong></div>
                                                    </a>
                                                {% else %}
                                                    <div class="ps-1"><strong>{{ inscription.user }}</strong></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <button type="button" class="btn btn-primary col" data-bs-toggle="modal" data-bs-target="#inscriptionModal" data-bs-activity="{{ activity.pk }}">
                                    Répondre
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if user.id == activity.creator_id %}
                    <div class="tab-pane" id="management" role="tabpanel" aria-labelledby="managementTab">
                        <div class="mt-2">
                            <h6><strong>Gérer l'activité</strong></h6>
                            <p class="mb-0">
                                <a class="text-light" title="Modifier l'activité" href="{{ activity.get_update_url }}">
                                    <i class="icon fas fa-pen text-center"></i> Modifier l'activité
                                </a>
                            </p>
                            <p class="mb-0">
                                <a class="text-light" title="Supprimer l'activité"
                                   href="{{ activity.get_confirm_delete_url }}">
                                    <i class="icon fas fa-trash-alt text-center"></i> Supprimer l'activité
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="modal text-black" id="modal-inscription">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>

        <div class="modal text-black" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inscriptionModalLabel">Répondre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" method="POST" novalidate>
                            {% csrf_token %}

                            <div class="non-field-errors">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="hidden-fields-errors">
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}
                            </div>

                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="row mb-2">
                                <div class="col select_activity_inscription">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            {{ form.activity|add_class:"form-select"|attr:"placeholder:Activity" }}
                                            {{ form.activity.label_tag }}
                                        </div>
                                    </div>
                                    {% if form.activity.help_text %}
                                        <span class="text-small text-muted">{{ form.activity.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.activity.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col-auto">
                                    <div class="form-check ps-0">
                                        {{ form.presence.label_tag }}
                                        {{ form.presence|add_class:"d-inline-block" }}
                                    </div>
                                    {% if form.presence.help_text %}
                                        <span class="text-small text-muted">{{ form.presence.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.presence.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col">
                                    <div class="form-floating">
                                        {{ form.guests_number|add_class:"form-control"|attr:"placeholder:Activity name" }}
                                        {{ form.guests_number.label_tag }}
                                    </div>
                                    {% if form.guests_number.help_text %}
                                        <span class="text-small text-muted">{{ form.guests_number.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.guests_number.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ form.remarks|add_class:"form-control"|attr:"placeholder:Activity remarks" }}
                                        {{ form.remarks.label_tag }}
                                    </div>
                                    {% if form.remarks.help_text %}
                                        <span class="text-small text-muted">{{ form.remarks.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.remarks.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary col-auto mt-2">Répondre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var inscriptionModal = document.getElementById('inscriptionModal')
            inscriptionModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget

                var activity = button.getAttribute('data-bs-activity')

                var modalActivity = inscriptionModal.querySelector('#id_activity')
                var modalAccompagnants = inscriptionModal.querySelector('#id_guests_number')
                var modalRemarks = inscriptionModal.querySelector('#id_remarks')

                modalActivity.value = activity
                modalAccompagnants.value = 0
                modalRemarks.value = ""
            });
        </script>

        <script>
            $(function () {
                var loadForm = function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-inscription .modal-content").html("");
                            $("#modal-inscription").modal("show");
                        },
                        success: function (data) {
                            $("#modal-inscription .modal-content").html(data.html_form);
                        }
                    });
                };

                var saveForm = function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#inscription-table").html(data.html_inscriptions_list);
                                $("#modal-inscription").modal("hide");
                            }
                            else {
                                $("#modal-inscription .modal-content").html(data.html_form);
                            }
                        }
                    });
                    return false;
                };

                /// Create inscription
                $("#inscription-table").on("click", ".js-create-inscription", loadForm);
                $("#modal-inscription").on("submit", ".js-inscription-create-form", saveForm);

                // Update inscription
                $("#inscription-table").on("click", ".js-update-inscription", loadForm);
                $("#modal-inscription").on("submit", ".js-inscription-update-form", saveForm);
            });
        </script>
    {% else %}
        <p>Vous n'êtes pas dans le groupe.</p>
    {% endif %}
{% endblock content %}
