{% extends 'base.html' %}

{% block content %}
    <div class="gradient-l2 rounded medium-padding-container text-white">
        <h1><strong>404 Not Found</strong></h1>
        <h2>La page est introuvable.</h2>
        <hr class="hr-white">
        <p class="text-large">Cette page n'a pas été trouvée sur le serveur. Essayez une autre <abbr
                title="Uniform Resource Locator">URL</abbr>.</p>
        <a class="btn btn-primary w-25" href="{% url 'koolapic:activity_list' %}">Retourner à l'accueil</a>
    </div>
{% endblock %}
