{% extends 'base.html' %}

{% block content %}
    <div class="gradient-l2 rounded-corner-container medium-padding-container text-white">
        <h1><b>500 Server Error</b></h1>
        <h2>Une erreur interne est survenue.</h2>
        <hr class="hr-white">
        <p class="text-large">Une erreur provenant du serveur est survenue. Veuillez réessayer plus tard. Si le problème
            persiste, veuillez contacter un administrateur.</p>
        <button class="btn btn-primary w-25" onclick="location.reload()">Rafraîchir</button>
    </div>
{% endblock %}