<form method="post" action="{% url 'thisappiscalleddrown:create_inscription_ajax' %}" class="js-inscription-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Répondre</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'thisappiscalleddrown/partial_inscription_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Répondre</button>
    </div>
</form>
