/*
Configuration de Bootstrap en CSS.
 */

@import 'variables';

/* Définition de la palette dans Bootstrap */
$primary: $palette-primary;
$secondary: $palette-l1;

$success: $semantics-success;
$danger: $semantics-danger;
$warning: $semantics-warning;
$info: $semantics-info;

/* Style des alertes de Bootstrap */
$alert-bg-level: 0 !default;
$alert-border-level: 0 !default;
$alert-color-level: -11 !default;

/* Définition des polices d'écriture dans Bootstrap */
$font-family-sans-serif: $sans-serif;
$font-family-monospace: $monospace;

/* Importation de Bootstrap */
@import "../../vendor/node_modules/bootstrap/scss/bootstrap";

/* Personnalisation des éléments */
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.open > .dropdown-toggle.btn-outline-light {
  color: $primary !important;
}