/* Variables */

/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Overpass Mono', sans-serif;
font-family: 'Roboto', sans-serif;
 */

$palette_primary: #6358EB;
$palette_secondary: #4A486B;
$palette_danger: #eb4034;
$palette_success: #3dd750;
$palette_warning: #f5ef45;
$palette_info: #45def5;
$white: #FFFFFF;
$black: #000000;

$palette_light: #A59FEE;
$palette_attenuation: #4C44B8;
$palette_dark: #2C286B;
$palette_dark_muted: #C2C2C2;

$sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings: 'Merriweather', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$body: 'Roboto', 'Helvetica', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$monospace: 'Overpass Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;