/* CSS principal */

/* Variables */
@import "variables";

/* Bootstrap configuré */
@import "custom";

/* Importation de FontAwesome */
@import "../../vendor/node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Thème Tippy */
@import "tippy";

/* Police */
a, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* Formulaires */
.form-error {
  color: $palette_danger;
}

.form-logo {
  width: 25%;
}

label {
  margin-top: 1em;
}

input[type='file'] {
  border: none;
}

/* Cartes */
.card-footer p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card {
  border-radius: 0 0;
}

/* Header */
header {
  margin-bottom: 1em;
  padding: 1vw;
}

/* Menu */
.nav-item {
  position: relative;
}

@include media-breakpoint-up(md) {
  .active::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center center;
    width: 10px;
    height: 10px;
    background-color: $white;
    animation-name: bullet-transition;
    animation-duration: 0.5s;
  }

  .active::after {
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center center;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    animation-name: bullet-transition;
    animation-duration: 0.5s;
  }

  @keyframes bullet-transition {
    from {
      opacity: 0;
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      opacity: 1;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

#mainNavbar {
  z-index: 1000;
  font-size: 1.25rem;
  position: fixed;
  transition-property: left;
  transition-duration: 0.5s;

  @include media-breakpoint-down(md) {
    width: 100%;
    height: 100%;
    left: -100%;
    padding: 0;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    min-width: 17rem;
    width: 20rem;
    height: 100vh;
    left: -20rem;
  }
}

@include media-breakpoint-down(md) {
  #profilePicture {
    z-index: 1100;
    display: inline;
    min-height: 50px;
    height: 9vh;
    right: 3rem;
    border-radius: 100px;
  }
}

#mainNavbar.toggled {
  left: 0;
}

#mainNavbarLogo {
  min-height: 50px;
  height: 10vh;
}

#mainNavbarOverlay {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  position: fixed;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  opacity: 0;
  transition: left 0.5s, opacity 0.5s;
}

#mainNavbarOverlay.toggled {
  left: 0;
  opacity: 1;
}

#mainNavbar .navbar-brand {
  margin-top: 10vh;
}

.nav-toggler {
  z-index: 0;
  color: $primary;
  font-size: 2.75rem;
  background: none;
  vertical-align: top;
  min-height: 50px;
  height: 9vh;
  width: 9vh;
  border: 0;
  padding: 0;
  margin-top: 0;
}

.nav-toggler:focus {
  outline: 0;
}

/* Header */
#mainHeader {
  padding-left: 3vw;
  padding-right: 3vw;
}

#mainHeader .p-2 {
  padding: 0 !important;
}

@include media-breakpoint-up(md) {
  #profilePicture {
    z-index: 1100;
    position: fixed;
    display: inline;
    min-height: 50px;
    height: 9vh;
    right: 3rem;
    border-radius: 100px;
  }
}

#profilePicture:hover {
  filter: brightness(105%);
}

#noProfilePicture {
  color: $white;
  font-size: 7vh;
}

/* Alertes et messages */
#messages {
  z-index: 1001;
  position: fixed;
  bottom: -2vh;
  left: 0;
  width: 75%;
  margin-left: 12.5%;
  /* Animations JavaScript */
}

.close {
  color: $white;
  opacity: 1;
}

/* Activités */
.activity {
  padding: 1em;
  margin-bottom: 1vh;
  border: $primary solid 2px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.activity-description {
  display: inline;
}

.activity-actions {
  float: right;
}

.activity-action-btn {
  margin-right: 0.5em;
}
