/* Imports */

@import "variables";

@import "custom";

@import "tippy";

/* Formulaires */
.form-error {
  color: $palette_danger;
}

.form-logo {
  width: 25%;
}

label {
  margin-top: 1em;
}

input[type="file"] {
  border: none;
}

/* Cartes */
.card-footer p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Menu */
#main-navbar {
  height: 10vh;
  margin-bottom: 1vh;
}

#main-navbar-logo {
  min-height: 50px;
  height: 9vh;
}

#main-navbar-pp {
  min-height: 50px;
  height: 9vh;
  border-radius: 100px;
}

#main-navbar-pp:hover {
  filter: brightness(105%);
}

#main-navbar-nopp {
  color: $white;
  font-size: 7vh;
}