/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
 */

$palette_primary: #6358EB;
$palette_secondary: #4A486B;
$palette_danger: #eb4034;
$palette_success: #5ced4c;
$palette_warning: #f5ef45;
$palette_info: #45def5;

$palette_light: #A59FEE;
$palette_attenuation: #4C44B8;
$palette_dark: #2C286B;