{% extends 'base.html' %}

{% block title %}
    Modifier l'utilisateur : {{ user.username }}
{% endblock title %}

{% block head %}

{% endblock %}

{% block content %}
    <h2>Modifier l'utilisateur</h2>
    <form method="POST" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        {% include 'includes/form_snippet.html' %}
        <br>
        <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
    </form>

    <div class="modal" id="modalCrop">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Recadrez l'image</h5>
                </div>
                <div class="modal-body">
                    <img src="" alt="Photo de profil" id="imageCrop" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveImageCropped" class="btn btn-secondary" data-dismiss="modal">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}