{% load static %}
<div class="card">
    <div class="card-header">Se connecter à votre compte Koolapic</div>
    <img class="card-img form-logo mx-auto" alt="Logo" src="{% static 'koolapic/images/logo.png' %}">
    <div class="card-body">
        <form action="{{ form_action }}" method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% include "includes/form_snippet.html" %}
            <br>
            <input type="submit" class="btn btn-primary" value="Se connecter" name="Se connecter">
        </form>
    </div>
    <div class="card-footer">
        <p class="text-right">Vous n'avez pas encore de compte ? <a href="{% url 'signup' %}">Créez-en un</a>.</p>
    </div>
</div>
