{% load static %}
{% load extras %}

<div class="card gradient-l2 formcard text-white rounded">
    <div class="card-header">
        Créer un compte sur thisappiscalleddrown
        <hr class="hr-white">
    </div>
    <img class="card-img form-logo mx-auto" alt="Logo"
         src="{% static 'thisappiscalleddrown/images/logo/svg/logo-thisappiscalleddrown-fill-white.svg' %}">
    <div class="card-body">
        <form action="{{ form_action }}" method="post" novalidate
              class="medium-padding-container bg-wt rounded">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% form form %}
            <br>
            <input type="submit" class="btn btn-primary" value="Créer un compte" name="Créer un compte">
        </form>
    </div>
    <div class="card-footer">
        <p class="text-right">Vous avez déjà un compte ? <a
                href="{% url 'account:login' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-d2">Connectez-vous</a>
        </p>
    </div>
</div>
