<div class="container d-grid gap-2 gradient-l2 text-white small-padding-container rounded">
    <!-- TODO: place temporaire pour le bouton -->
    <div class="row">
        <p class="mb-0">
            <a class="btn btn-outline-light" title="Créer un nouveau groupe" href="{% url 'thisappiscalleddrown:add_group' %}"
               role="button">
                <i class="fas fa-plus"></i> Créer un groupe
            </a>
        </p>
    </div>
    <div class="row gx-2">
        {% if groups.count %}
            {% for group in groups %}
                <div class="card {% if not forloop.last %} mb-2{% endif %} bg-wt px-0 rounded"
                     data-group-id="{{ group.id }}">
                    {% if group.image %}
                        <img class="card-img" src="{{ group.image.url }}" alt="{{ group.image.url }}">
                    {% else %}
                        <div class="card-img blank-img" style="background-color: {{ group.banner_color }}"></div>
                    {% endif %}
                    <div class="card-header">
                        <h4>{{ group.name }}</h4>
                        <h5>{{ group.members.count }} membre{{ group.members.count|pluralize:'s' }}</h5>
                    </div>
                    <div class="card-body">
                        <div>{{ group.description }}</div>
                    </div>
                    <a href="{% url 'thisappiscalleddrown:group_detail' slug=group.slug %}" class="stretched-link"></a>
                </div>
            {% endfor %}
        {% else %}
            <div class="empty">Vous n'appartenez à aucun groupe.</div>
        {% endif %}
    </div>
</div>
