<h6><strong>Administrateurs</strong></h6>
<div class="admin-list">
    {% for user_p in admins %}
        <div class="group-member-row rounded bg-wt">
            <div class="p-2">{% include 'includes/profile_picture.html' %}</div>
            <div class="flex-column group-member-name-col">
                <div class="ps-1"><strong>{{ user_p.first_name }} {{ user_p.last_name }}</strong></div>
            </div>
        </div>
    {% endfor %}
</div>

{% if members.count %}
    <hr/>

    <h6><strong>{{ members.count }} Membre{{ members.count|pluralize:'s' }}</strong></h6>
    <div class="row row-cols-3 me-0">
        {% for user_p in members %}
            <div class="col pe-0">
                <div class="rounded group-member-row mb-2 bg-wt">
                    <div class="p-2">{% include 'includes/profile_picture.html' %}</div>
                    <div class="flex-column group-member-name-col">
                        <div class="ps-1"><strong>{{ user_p.first_name }} {{ user_p.last_name }}</strong></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
