{% extends 'base.html' %}
{% load static widget_tweaks extras %}

{% block content %}
    <div class="card formcard">
        <div class="card-body">
            <form enctype="multipart/form-data" method="POST" novalidate>
                {% csrf_token %}

                <div class="non-field-errors">
                    {{ form.non_field_errors }}
                </div>

                <div class="hidden-fields-errors">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                </div>

                <div class="text-danger">
                    {{ form.non_field_errors }}
                </div>

                <div class="row mb-2">
                    <div class="col-auto">
                        <div class="form-check ps-0">
                            {{ form.presence.label_tag }}
                            {{ form.presence|add_class:"d-inline-block" }}
                        </div>
                        {% if form.presence.help_text %}
                            <span class="text-small text-muted">{{ form.presence.help_text }}</span>
                        {% endif %}
                        {% for error in form.presence.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <div class="col col-md-4">
                        <div class="form-floating">
                            {{ form.guests_number|add_class:"form-control"|attr:"placeholder:Activity name" }}
                            {{ form.guests_number.label_tag }}
                        </div>
                        {% if form.guests_number.help_text %}
                            <span class="text-small text-muted">{{ form.guests_number.help_text }}</span>
                        {% endif %}
                        {% for error in form.guests_number.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.remarks|add_class:"form-control"|attr:"placeholder:Activity remarks" }}
                            {{ form.remarks.label_tag }}
                        </div>
                        {% if form.remarks.help_text %}
                            <span class="text-small text-muted">{{ form.remarks.help_text }}</span>
                        {% endif %}
                        {% for error in form.remarks.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary col-auto mt-2">Répondre</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
