{% load static %}
{% load extras %}

<div class="card gradient-l2 formcard text-white">
    <div class="card-header">
        Se connecter à votre compte Koolapic
        <hr class="hr-white">
    </div>
    <img class="card-img form-logo mx-auto" alt="Logo"
         src="{% static 'koolapic/images/logo/svg/logo-koolapic-fill-white.svg' %}">
    <div class="card-body">
        <form action="{{ form_action }}" method="post" novalidate
              class="medium-padding-container bg-wt rounded-corner-container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% form form %}
            <br>
            <input type="submit" class="btn btn-primary" value="Se connecter" name="Se connecter">
        </form>
        <hr class="hr-white">
    </div>
    <div class="card-footer">
        <p class="text-right">Vous n'avez pas encore de compte ? <a
                href="{% url 'account:signup' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-d2">Créez-en
            un</a></p>
    </div>
</div>