{% load static %}
<div class="card formcard gradient-l2 text-white">
    <div class="card-header">
        Se déconnecter de votre compte Koolapic
        <hr class="hr-white">
    </div>
    <div class="card-body">
        <form method="post" novalidate class="bg-wt medium-padding-container rounded-corner-container">
            <h1>Au revoir !</h1>
            <p>Nous espérons que votre séjour parmi nous vous aura plu.</p>
            <br>
            {% csrf_token %}
            <button type="submit" id="disconnectUser" name="disconnectUser" class="btn btn-primary" value="logout">Se déconnecter</button>
        </form>
    </div>
</div>
