<div class="gradient-l2 large-padding-container text-white rounded-corner-container">
    <div class="profile-infos">
        {% if object.profile_pic %}
            <img src="{{ object.profile_pic.url }}" class="profile-pp" alt="Photo de profil" width="100"/>
        {% endif %}
        <h1 class="profile-name">{{ object.first_name }} {{ object.last_name }}</h1>
        <h2 class="profile-username">{{ object.username }}</h2>
        <h3 class="profile-role">
            {% if object.email == "adrienmatthieu.rossier@ceff.ch" %}
                <i class="fas fa-bed"></i> Dormeur
            {% elif object.email == "jacques@hirtzel.ch" or object.email == "jacques.hirtzel@ceff.ch" %}
                <i class="fas fa-coffee"></i> Administrateur
            {% elif object.is_superuser %}
                <i class="fas fa-desktop"></i> Administrateur
            {% endif %}
        </h3>
        <hr class="hr-white">
        <div class="bg-wt medium-padding-container">
            <h3>Informations</h3>
            <div class="profile-info row">
                <div class="col col-1"><i class="fas fa-envelope"></i></div>
                <div class="col col-11">{{ object.email }}</div>
            </div>
            {% if object.bio %}
                <div class="profile-info row">
                    <div class="col col-1"><i class="fas fa-book"></i></div>
                    <div class="col col-11">{{ object.bio }}</div>
                </div>
            {% endif %}
            {% if object.tel_m %}
                <div class="profile-info row">
                    <div class="col col-1"><i class="fas fa-user"></i></div>
                    <div class="col col-11">{{ object.tel_m }}</div>
                </div>
            {% endif %}
            {% if object.tel_p %}
                <div class="profile-info row">
                    <div class="col col-1"><i class="fas fa-user-tie"></i></div>
                    <div class="col col-11">{{ object.tel_p }}</div>
                </div>
            {% endif %}
            {% if object.locality or object.address or object.npa %}
                <div class="profile-info row">
                    <div class="col col-1"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="col col-11">{% if object.npa %}{{ object.npa }}{% endif %} {% if object.locality %}{{ object.locality }}{% endif %}</div>
                </div>
                {% if object.address %}
                    <div class="profile-info row">
                        <div class="col col-1"></div>
                        <div class="col col-11">{{ object.address }}</div>
                    </div>
                {% endif %}
            {% endif %}
            {% if object.id == user.id and view_as == "self" %}
                <hr class="hr-white">
                <h3>Informations avancées</h3>
                <div class="profile-info-label row">
                    <div class="col"><b><i class="fas fa-user-plus"></i> Compte créé le</b></div>
                </div>
                <div class="profile-info row">
                    <div class="col">{{ object.signup_date }}</div>
                </div>

                <div class="profile-info-label row">
                    <div class="col"><b><i class="fas fa-sign-in-alt"></i> Dernière connexion</b></div>
                </div>
                <div class="profile-info row">
                    <div class="col">{{ object.last_login }}</div>
                </div>

                <div class="profile-info-label row">
                    <div class="col"><b><i class="fas fa-heart"></i> Dernier don</b></div>
                </div>
                <div class="profile-info row">
                    <div class="col">{{ object.donation_date }}</div>
                </div>

                <div class="profile-info-label row">
                    <div class="col"><b><i class="fas fa-hashtag"></i> Slug</b></div>
                </div>
                <div class="profile-info row">
                    <div class="col">{{ object.slug }}</div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if object.id == user.id and view_as == "self" %}
        <form action="{% url 'accounts:profile' slug=object.slug %}" method="get" id="profileForm">
            <input type="hidden" name="view_as" value="guest">
        </form>
        <div class="d-flex flex-row-reverse profile-action-buttons">
            <a class="btn btn-outline-light p-2 profile-action-button" href="{% url 'accounts:edit_profile' slug=object.slug %}">
                <i class="fas fa-edit"></i> Modifier votre profil
            </a>
            <button type="submit" form="profileForm" class="btn btn-outline-light p-2 profile-action-button" href="{% url 'accounts:profile' slug=object.slug %}">
                <i class="far fa-eye"></i> Vue invité
            </button>
            <a class="btn btn-danger p-2 profile-action-button" href="{% url 'accounts:logout' %}">
                <i class="fas fa-sign-out-alt"></i> Se déconnecter
            </a>
        </div>
    {% elif view_as == "guest" %}
        <div class="row profile-action-buttons">
            <a class="btn btn-outline-light p-2 profile-action-button" href="{% url 'accounts:profile' slug=object.slug %}">
                <i class="fas fa-chevron-left"></i> Quitter la vue invité
            </a>
        </div>
    {% endif %}
</div>