{% extends 'base.html' %}
{% load widget_tweaks %}
{% load extras %}
{% load static %}

{% block head %}
    <script src="{% static 'koolapic/js/group_details.js' %}" type="module"></script>
    <script src="{% static 'koolapic/js/tabs.js' %}"></script>
    <script src="{% static 'koolapic/js/activities.js' %}" crossorigin="anonymous" type="module"></script>
{% endblock %}

{% block content %}
    <div class="group-header gradient-l2 small-padding-container rounded text-white">
        {% if user in all_members or user.is_superuser %}
            {% if group.image %}<img src="{{ group.image.url }}" alt="Bannière du groupe" class="group-banner mb-2">{% endif %}
            <div class="group-panel clearfix mb-2">
                <h2 class="d-inline-block mb-0">{{ group.name }}</h2>
                <div id="groupOverview" class="group-members-overview d-none d-lg-inline-block float-end">
                    <button id="inviteButton" type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#invitationModal">Inviter quelqu'un
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs group-nav">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" id="aboutTab" href="#about" role="tab"
                       data-controls="about" aria-controls="about">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" id="membersTab" href="#members" role="tab"
                       data-controls="members" aria-controls="members">Membres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" id="activitiesTab" href="#activities" role="tab"
                       data-controls="activities" aria-controls="activities">Activités</a>
                </li>
                {% if user in group.admins.all %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="managementTab" href="#management" role="tab"
                        data-controls="management" aria-controls="management">Gestion</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content pt-2">
                <div class="tab-pane active" id="about" role="tabpanel" aria-labelledby="aboutTab">
                    {% include 'koolapic/groups/includes/about_group.html' %}
                </div>
                <div class="tab-pane" id="members" role="tabpanel" aria-labelledby="membersTab">
                    {% include 'koolapic/groups/includes/group_members.html' %}
                </div>
                <div class="tab-pane" id="activities" role="tabpanel" aria-labelledby="activitiesTab">
                    {% include 'koolapic/groups/includes/group_activities.html' %}
                </div>
                {% if user in group.admins.all %}
                    <div class="tab-pane" id="management" role="tabpanel" aria-labelledby="managementTab">
                        <h6><strong>Gérer le groupe</strong></h6>
                        <div class="mt-2">
                            <p class="mb-0">
                                <a class="text-light" title="Modifier le groupe" href="{{ group.get_update_url }}">
                                    <i class="icon fas fa-pen text-center"></i> Modifier le groupe
                                </a>
                            </p>
                            <p class="mb-0">
                                <a class="text-light" title="Supprimer le groupe" href="{{ group.get_confirm_delete_url }}">
                                    <i class="icon fas fa-trash-alt text-center"></i> Supprimer le groupe
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="invitationModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Inviter quelqu'un sur {{ group.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="invitationForm">
                            {% csrf_token %}
                            <h5>Invitation directe</h5>
                            {{ invitation_form.email.label_tag }}
                            <div class="input-group">
                                {{ invitation_form.email|add_class:"form-control" }}
                                <button class="btn btn-primary input-group-append" type="button" onclick="sendInvite();">
                                    Inviter
                                </button>
                            </div>
                            <hr>
                            <h5><label for="invitationLink" class="label">Lien d'invitation</label></h5>

                            <div class="input-group">
                                <input type="text" class="form-control disabled" name="invitationLink" id="invitationLink"
                                       disabled aria-disabled="true">
                                <div class="input-group-append">
                                    <button id="copyInvitationLinkButton" class="popover-btn btn btn-primary" type="button"
                                            onclick="copyLink();" data-template="copyInvitationLinkTooltip"><i
                                            class="far fa-clipboard"></i></button>
                                    <a id="shareInvitationLink" href="#" class="btn btn-primary" type="button" onclick=""><i
                                            class="fas fa-share"></i></a>
                                </div>
                            </div>
                            <div class="tooltip" id="copyInvitationLinkTooltip">
                                <strong>Lien copié dans le presse-papier</strong>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Annuler</button>

                    </div>
                </div>
            </div>
        {% else %}
            <h1>Vous n'êtes pas membre de ce groupe.</h1>
            <dl class="mb-0">
                <dt>Si vous pensez que c'est une erreur:</dt>
                <dd>Allez voir vos <a class="link-mid-text" href="{% url 'koolapic:notifications' %}">notifications</a>, peut-être que vous avez déjà été invité.</dd>
                <dd>Si ce n'est pas le cas, demandez à l'un des membres de vous inviter.</dd>
            </dl>
        {% endif %}
    </div>
{% endblock content %}
