{% extends 'base.html' %}
{% load static %}

{% block head %}
    {% comment %}
    <script src="{% static 'koolapic/js/invitation.js' %}" type="module"></script>
    {% endcomment %}
{% endblock %}

{% block content %}
    <div class="text-white small-padding-container invitation rounded-corner-container gradient-l2">
        {% if invitation.group.image %}
            <img src="{{ invitation.group.image.url }}" alt="Bannière du groupe" class="group-banner">
        {% endif %}
        <div class="medium-padding-container">
            <h1>Invitation</h1>
            {% if invitation.sender %}
                <p>{{ invitation.sender.first_name }} {{ invitation.sender.last_name }} vous a invité à rejoindre le groupe {{ invitation.group }}.</p>
            {% else %}
                <p>Vous avez été invité à rejoindre le groupe {{ invitation.group }}.</p>
            {% endif %}
            <div>
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" aria-hidden="true" name="decline" id="decline" value="true">
                    <button class="btn btn-danger" type="submit" value="decline">Refuser</button>
                </form>
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" aria-hidden="true" name="accept" id="accept" value="true">
                    <button class="btn btn-d2" type="submit" value="accept">Accepter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}