{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <h1>Modifier un groupe</h1>
    <form method="post" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-dark">Modifier</button>
        {% endbuttons %}
    </form>
    {{ form.media }}

    <div class="modal" id="modalCrop" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header gradient-l2">
                    <h5 class="modal-title text-white" id="ModalLabel">Recadrez l'image</h5>
                    <button class="btn btn-outline-light px-3 py-2 profile-action-button" data-dismiss="modal">
                        <i class="fas fa-share-square"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="" alt="Photo de profil" id="imageCrop" style="max-width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}