{% extends 'koolapic/base.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block head %}

    <meta name="description" content="{{ decription }}">


    <meta property="og:title" content="{{ decription }}">
    <meta property="og:description" content="{{ decription }}">
    <meta property="og:twitter" content="{{ decription }}">

    <meta property="twitter:title" content="{{ decription }}">
    <meta property="twitter:description" content="{{ decription }}">
{% endblock head %}

{% block content %}
    <h1>Bienvenue sur Koolapic</h1>
{% endblock content %}