<form method="post" action="{{ activity.get_clone_url }}" class="js-activity-clone-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Cloner cette activité</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'koolapic/partial_activitiy_clone_form.html' %}
        <p class="mb-0">En clonant cette activité, vous allez créer une activité pareille avec une date de début située 7 jours après celle dans ce formulaire</p>
        <p class="mb-0">Si l'activité a une date de fin, elle se verra aussi ajouter 7 jours</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Cloner</button>
    </div>
</form>
