<form method="post" action="{{ activity.get_clone_url }}" class="js-activity-clone-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Cloner cette activité</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% include 'koolapic/partial_activitiy_clone_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Cloner</button>
    </div>
</form>
