{% load static %}
<h6><strong>Inscriptions</strong></h6>

<div class="row row-cols-3 me-0">
    {% if user in activity.participants.all or user == activity.creator %}
        {% for inscription in inscriptions %}
            <div class="col pe-0">
                <div class="rounded group-member-row mb-2 bg-{% if inscription.presence %}success{% else %}danger{% endif %}">
                    <div class="p-2">
                        {% if inscription.user.profile_pic %}
                            <a class="tooltip-btn" href="{% url 'account:profile' slug=inscription.user.slug %}"
                            data-template="tooltip-{{ inscription.user.slug }}">
                                <img class="profile-picture" src="{{ inscription.user.profile_pic.url }}" alt="Votre photo de profil"/>
                            </a>
                        {% else %}
                            <a class="tooltip-btn" href="{% url 'account:profile' slug=inscription.user.slug %}" title="Profil"
                            data-template="tooltip-{{ inscription.user.slug }}">
                                <img class="profile-picture" src="{% static 'koolapic/images/default_profile_picture.png' %}"
                                    alt="Votre photo de profil"/>
                            </a>
                        {% endif %}

                        <div class="tooltip" id="tooltip-{{ inscription.user.slug }}">
                            <strong>{{ inscription.user }}</strong>
                        </div>
                    </div>
                    <div class="flex-column group-member-name-col">
                        {% if user == inscription.user %}
                            <a type="button"
                                class="btn btn-{% if inscription.presence %}success{% else %}danger{% endif %} text-start d-block js-update-inscription"
                                data-url="{% url 'koolapic:activity_inscription_ajax' inscription.slug %}">
                                <div class="ps-1 text-dark"><strong>{{ inscription.user }}</strong></div>
                            </a>
                        {% else %}
                            <div class="ps-1"><strong>{{ inscription.user }}</strong></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <button type="button" class="btn btn-primary col" data-bs-toggle="modal" data-bs-target="#inscriptionModal" data-bs-activity="{{ activity.pk }}">
            Répondre
        </button>
    {% endif %}
</div>
