{% load static widget_tweaks extras %}

<div class="container gradient-l2 text-white small-padding-container rounded pb-2">
    {{ upcoming_activities|length }} Activité{{ upcoming_activities|pluralize:"s" }}
    {% block activity_list %}
        <div id="activity-table" class="row m-0">
            {% for activity in upcoming_activities %}
                <div class="card mb-2 bg-wt rounded" data-activity-id="{{ activity.id }}">
                    <div class="card-header px-0 bg-transparent">
                        <h4 class="d-flex mb-0">
                            <span class="col">
                                <strong>{% if activity.end_date %}Du {% endif %} {{ activity.start_date }}
                                    {% if activity.end_date %} au {{ activity.end_date }} {% endif %}</strong>
                            </span>

                            <span class="col-auto" style="z-index: 50;">
                                {% if user in activity.participants.all or user == activity.creator %}
                                    {% for inscription in activity.inscriptions.all %}
                                        {% if user == inscription.user %}
                                            {% if inscription.presence %}
                                                <button type="button"
                                                    class="btn btn-success js-update-inscription"
                                                    data-url="{% url 'koolapic:update_inscription_ajax' inscription.slug %}">
                                                    Inscrit
                                                </button>
                                            {% else %}
                                                <button type="button"
                                                    class="btn btn-danger js-update-inscription"
                                                    data-url="{% url 'koolapic:update_inscription_ajax' inscription.slug %}">
                                                    Excusé
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inscriptionModal" data-bs-activity="{{ activity.pk }}">
                                        Répondre
                                    </button>
                                {% endif %}
                            </span>
                        </h4>
                    </div>
                    <div class="card-body px-0 pb-2 pt-0">
                        <h5 class="text-ellipsis">
                            Emplacement: <strong>{{ activity.start_location }} {% if activity.end_location %} →
                            {{ activity.end_location }} {% endif %}</strong>
                        </h5>
                        <div class="text-ellipsis">
                            Nom de l'activité: <strong>{{ activity.name }}</strong>
                        </div>
                        <div class="text-ellipsis">
                            Dans groupe: <strong>{{ activity.group }}</strong>
                        </div>
                        <div class="text-ellipsis{% if user == activity.creator %} text-primary{% endif %}">
                            Organisateur: <strong>{{ activity.creator }}</strong>
                        </div>
                    </div>
                    <a href="{% url 'koolapic:activity_detail' slug=activity.slug %}" class="stretched-link"></a>
                </div>
            {% empty %}
                <div class="empty">Vous n'avez pas d'activités à venir</div>
            {% endfor %}
        </div>

        <div class="modal text-black" id="modal-inscription">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>

        <div class="modal text-black" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inscriptionModalLabel">Répondre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" method="POST" novalidate>
                            {% csrf_token %}

                            <div class="non-field-errors">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="hidden-fields-errors">
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}
                            </div>

                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="row mb-2">
                                <div class="col select_activity_inscription">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            {{ form.activity|add_class:"form-select"|attr:"placeholder:Activity" }}
                                            {{ form.activity.label_tag }}
                                        </div>
                                    </div>
                                    {% if form.activity.help_text %}
                                        <span class="text-small text-muted">{{ form.activity.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.activity.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col-auto">
                                    <div class="form-check ps-0">
                                        {{ form.presence.label_tag }}
                                        {{ form.presence|add_class:"d-inline-block" }}
                                    </div>
                                    {% if form.presence.help_text %}
                                        <span class="text-small text-muted">{{ form.presence.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.presence.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col">
                                    <div class="form-floating">
                                        {{ form.guests_number|add_class:"form-control"|attr:"placeholder:Activity name" }}
                                        {{ form.guests_number.label_tag }}
                                    </div>
                                    {% if form.guests_number.help_text %}
                                        <span class="text-small text-muted">{{ form.guests_number.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.guests_number.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ form.remarks|add_class:"form-control"|attr:"placeholder:Activity remarks" }}
                                        {{ form.remarks.label_tag }}
                                    </div>
                                    {% if form.remarks.help_text %}
                                        <span class="text-small text-muted">{{ form.remarks.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.remarks.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary col-auto mt-2">Répondre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var inscriptionModal = document.getElementById('inscriptionModal')
            inscriptionModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget

                var activity = button.getAttribute('data-bs-activity')

                var modalActivity = inscriptionModal.querySelector('#id_activity')
                var modalAccompagnants = inscriptionModal.querySelector('#id_guests_number')
                var modalRemarks = inscriptionModal.querySelector('#id_remarks')

                modalActivity.value = activity
                modalAccompagnants.value = 0
                modalRemarks.value = ""
            });
        </script>

        <script>
            $(function () {
                var loadForm = function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-inscription .modal-content").html("");
                            $("#modal-inscription").modal("show");
                        },
                        success: function (data) {
                            $("#modal-inscription .modal-content").html(data.html_form);
                        }
                    });
                };

                var saveForm = function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#activity-table").html(data.html_upcoming_activities_list);
                                $("#modal-inscription").modal("hide");
                            }
                            else {
                                $("#modal-inscription .modal-content").html(data.html_form);
                            }
                        }
                    });
                    return false;
                };

                // Update inscription
                $("#activity-table").on("click", ".js-update-inscription", loadForm);
                $("#modal-inscription").on("submit", ".js-inscription-update-form", saveForm);
            });
        </script>
    {% endblock activity_list %}
</div>
