{% load static widget_tweaks extras times_filter %}

<div class="container gradient-l2 text-white small-padding-container rounded pb-2">
    {{ upcoming_activities|length }} Activité{{ upcoming_activities|pluralize:"s" }}
    {% block activity_list %}
        <div id="activity-table" class="row m-0">
            {% include 'koolapic/partial_activity_list.html' %}
        </div>

        <div class="modal text-black" id="modal-inscription">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>

        <div class="modal text-black" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inscriptionModalLabel">Répondre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" method="POST" novalidate>
                            {% csrf_token %}

                            <div class="non-field-errors">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="hidden-fields-errors">
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}
                            </div>

                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="row mb-2">
                                <div class="col select_activity_inscription">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            {{ form.activity|add_class:"form-select"|attr:"placeholder:Activity" }}
                                            {{ form.activity.label_tag }}
                                        </div>
                                    </div>
                                    {% if form.activity.help_text %}
                                        <span class="text-small text-muted">{{ form.activity.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.activity.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col-auto">
                                    <div class="form-check ps-0">
                                        {{ form.presence.label_tag }}
                                        {{ form.presence|add_class:"d-inline-block" }}
                                    </div>
                                    {% if form.presence.help_text %}
                                        <span class="text-small text-muted">{{ form.presence.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.presence.errors %}
                                        <small class="form-text text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>

                                <div class="col">
                                    <div class="form-floating">
                                        {{ form.guests_number|add_class:"form-control"|attr:"placeholder:Activity name" }}
                                        {{ form.guests_number.label_tag }}
                                    </div>
                                    {% if form.guests_number.help_text %}
                                        <span class="text-small text-muted">{{ form.guests_number.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.guests_number.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ form.remarks|add_class:"form-control"|attr:"placeholder:Activity remarks" }}
                                        {{ form.remarks.label_tag }}
                                    </div>
                                    {% if form.remarks.help_text %}
                                        <span class="text-small text-muted">{{ form.remarks.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.remarks.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary col-auto mt-2">Répondre</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var inscriptionModal = document.getElementById('inscriptionModal')
            inscriptionModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget

                var activity = button.getAttribute('data-bs-activity')

                var modalActivity = inscriptionModal.querySelector('#id_activity')
                var modalAccompagnants = inscriptionModal.querySelector('#id_guests_number')
                var modalRemarks = inscriptionModal.querySelector('#id_remarks')

                modalActivity.value = activity
                modalAccompagnants.value = 0
                modalRemarks.value = ""
            });
        </script>

        <script>
            $(function () {
                var loadForm = function () {
                    var btn = $(this);
                    $.ajax({
                        url: btn.attr("data-url"),
                        type: 'get',
                        dataType: 'json',
                        beforeSend: function () {
                            $("#modal-inscription .modal-content").html("");
                            $("#modal-inscription").modal("show");
                        },
                        success: function (data) {
                            $("#modal-inscription .modal-content").html(data.html_form);
                        }
                    });
                };

                var saveForm = function () {
                    var form = $(this);
                    $.ajax({
                        url: form.attr("action"),
                        data: form.serialize(),
                        type: form.attr("method"),
                        dataType: 'json',
                        success: function (data) {
                            if (data.form_is_valid) {
                                $("#activity-table").html(data.html_upcoming_activities_list);
                                $("#modal-inscription").modal("hide");
                            }
                            else {
                                $("#modal-inscription .modal-content").html(data.html_form);
                            }
                        }
                    });
                    return false;
                };

                /// Create inscription
                $("#activity-table").on("click", ".js-create-inscription", loadForm);
                $("#modal-inscription").on("submit", ".js-inscription-create-form", saveForm);

                // Update inscription
                $("#activity-table").on("click", ".js-update-inscription", loadForm);
                $("#modal-inscription").on("submit", ".js-inscription-update-form", saveForm);
            });
        </script>
    {% endblock activity_list %}
</div>
